@model IEnumerable<EntityFramework.Models.Orgjed>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<ul id="myUL">
    @foreach (var item in Model)
    {
        if (item.SifNadorgjed == null)
        {
            <li>
                <span class="caret">@item.NazOrgjed</span>
                <ul class="nested">
                    @foreach (var org in Model)
                    {
                        if (org.SifNadorgjed == item.SifOrgjed)
                        {
                            <li><a asp-action="Details" asp-route-id="@org.SifOrgjed">@org.NazOrgjed</a></li>
                        }
                    }
                </ul>
            </li>

        }
    }
</ul>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NazOrgjed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SifNadorgjedNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazOrgjed)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.SifNadorgjed">@Html.DisplayFor(modelItem => item.SifNadorgjedNavigation.NazOrgjed)</a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SifOrgjed">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SifOrgjed">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SifOrgjed">Delete</a>
                        </td>
                    </tr>
            }

    </tbody>
        </table>*@
