@model Fakultet.Models.Nastavnik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nastavnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeNastavnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeNastavnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezNastavnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezNastavnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Koef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Koef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PbrStanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PbrStanNavigation.NazMjesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SifOrgjedNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SifOrgjedNavigation.NazOrgjed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SifNastavnik">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
