@model Fakultet.Models.Orgjed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orgjed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazOrgjed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazOrgjed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SifNadorgjedNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SifNadorgjedNavigation.NazOrgjed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SifOrgjed">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
