@model Fakultet.Models.Stud

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeStud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeStud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezStud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezStud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatRodStud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatRodStud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JmbgStud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JmbgStud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PbrRodNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PbrRodNavigation.NazMjesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PbrStanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PbrStanNavigation.NazMjesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MbrStud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
