@model Ispit.Models.Pokloni

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši poklon</h1>

<h3>Jeste li sigurni da želite izbrisati?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivPoklona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivPoklona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kupljeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kupljeno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak na listu</a>
    </form>
</div>
