@model IEnumerable<Ispit.Models.Pokloni>

@{
    ViewData["Title"] = "Index";
}

<h1>Božični pokloni</h1>

<p>
    <a asp-action="Create">Dodaj novi poklon</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:darkred">
                @Html.DisplayNameFor(model => model.NazivPoklona)
            </th>
            <th style="color:darkred">
                @Html.DisplayNameFor(model => model.Iznos)
            </th>
            <th style="color:darkred">
                @Html.DisplayNameFor(model => model.Kupljeno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Kupljeno!=true)
    {

    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivPoklona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iznos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kupljeno)
            </td>
            <td>
                <a asp-action="Kupi" asp-route-id="@item.Id" class="alert-primary" >Kupi</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>}
    
}
    </tbody>
</table>
