@model IEnumerable<Fakultet.Models.Pred>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KratPred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazPred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpisanoStud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSatiTjedno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifOrgjedNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KratPred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazPred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpisanoStud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSatiTjedno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifOrgjedNavigation.NazOrgjed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SifPred">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SifPred">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SifPred">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
