@model IEnumerable<Firma.Models.Voce>

@{
    //
    //List<Voce>
    ViewData["Title"] = "Index";
    double sveukupno = 0;
    if (Model != null)
    {
        foreach (var item in Model)
        {
            sveukupno += item.Ukupno;
        }
    }

}

<h1>Index</h1>
<div>  @if (ViewBag.Placeno == true)
{
    <span class="alert-info"> Zahvaljujemo na uplati!</span>
}</div>

Ovo je defaultni view , tu cemo prikazati sadrzaj kosarice
<a asp-controller="Voce" asp-action="Index"> Lista voca</a>
<br />
<a asp-controller="Voce" asp-action="UnosVoca"> Dodaj novo voce u kosaricu</a>

<ol>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <li>
                   <!-- controller/action/id -->
                <b><a href="/Voce/Detalji/@item.Ime">@item.Ime</a> </b>

                @item.Kategorija @item.Cijena @item.Kolicina @item.Ukupno
            </li>
        }
    }
    else
    {
        <li>Kosarica je prazna!</li>
    }

    </ol>

<div class="alert-info">Sveukupno:@sveukupno</div>
<br />
<form asp-action="Plati" asp-controller="Voce" method="post">
    <input class="badge-warning" type="submit" name="submit" value="Plati" />
</form>
